/* 실습 2 강사님 CSS */



section {
  width: 800px;
  /* It doesn't matter how big you make it. You can make it 60%*/
  border: 3px double #123456;
  margin: 20px auto 0;
  color: #333;
}

/* can also be selected as section > h1 */
section h1 {
  /*font: weight size family  *You have to write 100% the size and the family*/
  font: bold 42px cursive, sans-serif;
  background: #ccc;
  text-align: center;
  padding: 20px;
}

section .intro {
  font-size: 18px;
  background: #464141;
  color: white;
  border-bottom: 3px solid gray;
  text-align: center;
  padding: 10px;
}

section .intro em {
  color: yellow;
  font-size: 1.1em;
}

/* This can also be name as section ul, but it will also select other ul in the future
when you have multiple ul in the page. So, naming it with the class name will be best */
section .gallery {
  background: #6e6a6a;
  padding: 20px 0;
}

section .gallery li {
  width: 23.75%;
  height: 330px;
  border: 1px solid #ccc;
  padding: 5px; /* When giving this padding it will make boxes be too big so they will go down*/
  box-sizing: border-box; /* However, if you add box sizing it will make the boxes get fix and one will not go down*/
  float: left;
  margin-right: 1%;
}

/* Where you add the pictures */
.gallery li .pic {
  height: 150px;
  border: 1px solid lightgray;
  background: #fff;/* The reason for the background color is to see if the dimension are okay This can be deleted later*/
}

/* The text in li which is p */
.gallery li p {
  margin-top: 20px; /* Too close to the pictures*/
  padding: 0 10px; /* Space on the left and right*/
  font-size: 15px;
  font-weight: bold;
  line-height: 1.3;
  color: #000;
}

#tulip {
  margin-left: 1%; /* You give margin to the left because on the right side there was some space. So you move the first id so it get centered*/
  background: #d31515;
}

 /* On the background picture there is no need to add a width and height */
#tulip .pic {
  background-image: url(./images/tulip.jpg);
  background-size: cover;
  background-position: 40%; /* To move the picture to be kind of center*/
  background-repeat: no-repeat; /*Just in case on other pages it get repeated*/
}

#jebi {
  background: #e941f9;
}

#jebi .pic {
  /* background: image url repeat position cover */
  background: url(./images/jebi.jpg) no-repeat 50% / cover;
}

#hobak {
  background: #fe692b;
}

#hobak .pic{
  background: url(./images/hobak.jpg) no-repeat 40% / cover;
}

#sunflower {
  background: #f3ea33;
}

#sunflower .pic{
  background: url(./images/sunflower.jpg) no-repeat 20% / cover;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

